body {
	text-align: center;
    font-family: helvetica, harial, sans-serif;
    margin: 0px;
    background-color: #FEF;
}
   

nav a{
	display: inline-block;
	padding: 4px 4px;
	width: 100px;
	margin: 5px auto;
	border: 3px solid #AAA;
	border-radius: 5px;
	text-decoration: none;
	color: #333;

}

.cabeca{
	background-image: url(gg.jpg);
	background-size: cover;
	color: white;
	background-position: top;
}
.alinhamento{
	padding: 60px;
}
.cabeca h1{
	font-size: 1.3em;
	margin: 0;
	color: Green;
}

.cabeca p{
	font-size: 1.3em;
	margin: 0;
	color: red;
}

#principal{
	margin: 0;
	color: black;
}


section h2{
	   background-color: #FEF;
	   margin-top: 0;
}
footer{
	font-size: 1.0em;
	margin: 15;
	color: black;
}
    .btn{
    	font-family: arial;
    	font-size: 14px;
    	text-transfom: uppercase;
    	font-weight:700;
    	border:none;
    	padding:10px;
    	cursor: pointer;
    	display:inline-block;
    	text-decoration: none;
    	
    	}
    	.btn-green{
    		background:green;
    		color:#fff;
    		box-shadow: 0 5px 0 #006000;
    	}
    	.btn-green{
    		background:green;
    		color:#fff;
    		box-shadow: 0 5px 0 #003f00;
    	}
    	.btn-green:active{
    	 positipn: relative;
    		top: 5px;
    		box-shadow: none;
    	}
    }
    
